.single-note{
    width: 40%;
    overflow-wrap: break-word;
    box-shadow: 0 0 5px 1px var(--dark-theme-light-color);
    color: var(--dark-theme-color);
    position: relative;
}

.pin-Icon{
    position: absolute;
    top:5px;
    right:2px;
}

.tag-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    gap: 5px;
}

.tag{
    color: var(--primary-theme-color);
    padding: 8px;
    margin: 0 5px;
    background-color: var(--primary-theme-shade-20);
    border-radius: 5rem;
}

.option-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}