.single-note{
    width: 40%;
    overflow-wrap: break-word;
    box-shadow: 0 0 5px 1px var(--dark-theme-light-color);
    position: relative;
}

.pin-Icon{
    position: absolute;
    top:5px;
    right:2px;
}

.tag{
    color: var(--primary-theme-color);
}

.option-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}