.input-form{
    padding: 5px;
    box-shadow: 0 0 5px 1px var(--dark-theme-light-color);
}

.input-field{
    border:none;
    width: 100%;
    resize: none;
}

.action-container{
    display: flex;
    align-items: center;
}

.icons-common{
   cursor: pointer;
   font-size: 2rem;
   padding: 5px;
}

.icons-common:hover{
  background-color: var(--dark-theme-shade-80);
  border-radius: 5px;
}

