.main-page{
    display: grid;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "navbar page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content";
    grid-gap: 5px;
}

.page-content{
    grid-area: page-content;
    width: calc(100vw - 18vw);
}