.main-page{
    display: grid;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "navbar page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content";
}

.page-content{
    grid-area: page-content;
    height: 90vh;
    width: calc(100vw - 15vw);
    position: relative;
}