.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
  
.modal-wrapper.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal-wrapper.exit {
  opacity: 0;
}

.modal-content {
  background-color: white;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-wrapper.show,
.modal-wrapper {
  transform: translateY(0);
}

.modal-wrapper.enter-done .modal-content {
  transform: translateY(0);
}

.modal-wrapper.exit .modal-content {
  transform: translateY(-200px);
}
