.archive-note{
    max-width: 30%;
    overflow-wrap: break-word;
    box-shadow: 0 0 5px 1px var(--dark-theme-light-color);
    position: relative;
}

.tag{
    color: var(--primary-theme-color);
}

.option-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}