.side-navbar{
    grid-area: navbar;
    width: 15vw;
    margin: 5px 0;
    box-shadow: 0px 0px 5px 5px var(--primary-theme-shade-20);
    position: fixed;
    z-index: 22;
    top: 9%;
    height: 90%;
}

.active-link{
    font-weight: 900;
    background: var(--primary-theme-shade-20);
    border-radius: 5em;
}

.nav-icon{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 10px;
}

@media screen and (max-width:992px) {
    .side-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        margin: 0;
        height: 10%;
        top: 90%;
    }

    .side-navbar > a {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:600px) {
    .nav-option{
        display: none;
    }
}