.side-navbar{
    grid-area: navbar;
    width: 70%;
    margin: 5px 0;
}

.active-link{
    font-weight: 900;
    background: var(--primary-theme-shade-20);
    border-radius: 5em;
}

.icon-style{
    margin: 0 10px;
}

