.landing-page-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "hero-info";
    min-height: 100vh;

    padding: 2.5rem 5rem;
}

.hero-info{
    grid-area: hero-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hero-title{
    font-size: 3rem;
    line-height: 4rem;
}

.hero-subtitle{
    font-size: 2rem;
    line-height: 2.5rem;
}

.hero-description{
    font-size: 1.5rem;
    line-height: 2rem;
}

.highlight{
    color: var(--primary-theme-color);
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .landing-page-container{
        padding: 2.5rem ;
    }
    .hero-title{
        font-size: 2rem;
        line-height: 3rem;
    }

    .hero-subtitle{
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 2rem 0;
    }
}

@media screen and (max-width:600px) {
    .hero-title{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    /* .hero-subtitle{
        font-size: 1rem;
        line-height: 1rem;
    } */

    .hero-description{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}